
.title-style {
    position: relative;
    
}

.main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: space-around;
    flex-direction: row;
}
.titleStyle{
    text-align: center;
    margin: 20px 0px -30px 0px ;
}