.ft-style{
    position: relative;
    height: 150px;
    width: 100%;
}

.ft-container{
    background: #333C46;
    height: 110px;
    width: 100%;
}

.ft-logo{
   margin: auto;
   padding: 10px;
}

.ft-social{
    background: #27313F;
    text-align: center;
    height: 40px;
    width: 100%;
    font-size: 18pt;
    color: white;
}

.fab{
    margin: 8px 10px;
}

.img-logo{
    height: 90px;
    width: 90px;
}